.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    width: 100%;
    max-width: 500px;
    padding: 30px;
    margin: 0 auto;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 3px 5px 2px rgb(201, 201, 201);

    &__title {
        margin-bottom: 60px;

        @media screen and (min-width: 768px) {
            margin-top: 30px;
        }
    }

    div {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 8px 0;
        border-radius: 4px;
        background-color: var(--main-ultra-light);

        @media screen and (min-width: 600px) {
            flex-direction: row;
            justify-content: space-between;
        }

    }

    input {
        padding: 3px 7px;
        margin: 10px 0;
        width: 100%;
        max-width: 200px;
        border-radius: 3px;
        border: 1px solid grey;

        @media screen and (min-width: 600px) {
            margin: 0;
        }

        &::placeholder {
            color: rgb(190, 190, 190);
        }
    }
}

.message {
    width: fit-content;
    padding: 3px 8px;
    font-size: 1rem;
    background-color: var(--main);
    color: white;
    border-radius: 5px;
    border: 1px solid black;

    &--success {
        background-color: rgb(229, 245, 229);
        color: rgb(101, 141, 100);
        border: 1px solid rgb(183, 207, 182);
        font-size: 1.4rem;
    }

    &--error {
        background-color: #ffd7d7;
        color: rgb(182, 85, 85);
        border: 1px solid rgb(228, 160, 160);
    }
}

.small {
    color: grey;
    font-size: .5rem;
    font-weight: 500;
    text-align: left;

    &--cert {
        color: rgb(243, 149, 149);
        font-size: .6rem;
        font-weight: bold;
    }
}