.form__certificate {
    align-items: center;
    margin: 120px auto;
    width: 100%;
    max-width: 500px;
    padding: 40px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 3px 5px 2px rgb(201, 201, 201);
    text-align: center;

    div {
        font-size: 2rem;
    }
    
    input {
        padding: 13px 25px;
        margin: 40px 0;
        width: 100%;
        max-width: 350px;
        border-radius: 5px;
        border: 1px solid rgb(165, 165, 165);
    }

    .message {
        padding: 15px;
    }

    .image {
      width: 100%;
    }
}


.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-top: 20px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.info {
  position: relative;
  top: 6px;
  left: 5px;
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url('../../assets/info-circle.svg') center/cover no-repeat;
  filter: opacity(50%);
}